{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
    <div class="panel">
        <div class="panel-body">
            <div class="panel-title ml-2">
                <h1 class="mr-2">{{ad.title}}</h1>
            </div>
            <p> Location: {{ad.city}}</p>
            <p class="text-muted">Description: {{ ad.description }}</p>
            <p class="text-muted">Price: {{ ad.price}}</p>
            <p><img class="img-small" width="200" src={{ad.imgUrl}}></p>
        </div><!-- end panel body -->
        <div>
            <p>Contact Info: {{ ad.email}}</p>
            <a class="btn btn-warning btn-xs" href="/">Back to ad list</a>
        </div>
     </div><!-- end panel  -->
</div>
{% endblock %}



